<?xml version="1.0" ?>

<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>

  <!-- Adding simulation -->
  <include file="$(find scoopy_description)/launch/bathroom.launch"/>
  
  <!-- test node -->
  <node pkg="scoopy_behaviour" name="go_to_door_node" type="GoToDoor.py" output="screen"/>
  
  
</launch>
