<?xml version="1.0" ?>

<launch>
  

  <!-- Robot pose -->
  <arg name="x" default="-2.406438"/>
  <arg name="y" default="-3.847356"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="1.571086"/>
  

  <env name="GAZEBO_MODEL_PATH" value="$(find scoopy_description)/models/" />
  
  
  <param command="$(find xacro)/xacro $(find scoopy_description)/urdf/scoopy.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model scoopy -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find scoopy_description)/worlds/bathroom.world"/>
  </include>
  
  <!-- CONTROLLERS -->
  <include file="$(find scoopy_description)/launch/controller.launch"/>
 

</launch>
